*{
    margin:0;
    padding:0;
}
 body {
  background-color: rgba(245, 248, 255, 1);

}
body footer{
background-color: white;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* This is header section */
.header-section{
  max-width: 1440px;
  height:698px;
  margin:0 auto;
  background-image: url('../images/Assets/Hero-bg.png');
  background-position: center;
  background-size: cover;
}
/* Nav Style */
nav{
max-width: 1140px;
height: 151px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.nav-tittle{
   max-width: 99px; 
   height: 51px;
   font-weight:Black;
   font-size: 34px;
   color: rgba(78, 71, 255, 1);
}
.nav-button{
   width:132px;
   height:48px; 
   font-weight:bold;
   font-size: 20px;
   color:#FFFFFF;
   background-color:#4E47FF;
   border-radius: 6px;
   border: none;
   cursor: pointer;  
}
.nav-button:hover{
    background-color:rgb(240, 240, 3);
    color: black;   
}
.nav-button:active{
    opacity: 0.6;
}
/* Banner Styles */
.banner-section{
  max-width:905px;
  height: 237px;
  padding: 152px 267.5px 152px 267.5px;
 text-align: center; 
 justify-content: center;
}
.banner-tittle{
  max-width: 905px;
  height: 152px;
  font-weight: bold;
  font-size:65px;
  color: #252432;
  margin-bottom: 25px;
  text-align: center;
}
.banner-button{
   width:174px;
   height:48px; 
   font-weight:bold;
   font-size: 16px;
   color:#FFFFFF;
   background-color:#4E47FF;
   border-radius: 6px;
   border: none;
   cursor: pointer;
   margin-top: 8px;
   text-align: center;

   
}
  .banner-button:hover{
    background-color:rgb(240, 240, 3);
    color: black; }  
.banner-button:active{
    opacity: 0.6;
}
/* This is main section */
/* Action section style */
.action{
  margin-top: 104px;
  margin-bottom: 128px;
   
}
.action-style{
  max-width: 1140px;
  height: 346px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.action-tittle{
   width:517px;
   height:49px; 
   font-weight:bold;
   font-size:42px;
   color:#252432;
   margin-bottom: 24px;
}
.action-sub-tittle{
  margin-top:-12px ;
  width:500px;
   height:60px; 
   font-size:20px;
   color:rgba(37, 36, 50, 0.5)
   margin-bottom: 18px;
   
}
.action-button{
  width:229px;
   height:48px; 
   font-weight:bold;
   font-size: 16px;
   color:#FFFFFF;
   background-color:#4E47FF;
   border-radius: 10px;
   border: none;
   cursor: pointer; 
   padding:12px 36px; 
}
.action-button:hover{
    background-color:rgb(240, 240, 3);
    color: black;   
}
.action-button:active{
    opacity: 0.6;
}
.action-style img{
  width:403px;
  height:328px;
  border-radius: 48px;
}
/* Productive Users Style */
.productive-users{
  max-width: 1140px;
  height: 306px;
  margin:0 auto;
  background-color:rgba(78, 71, 255, 0.1) ;
  border-radius: 24px;
  
}


.users-container{
  display: flex;
  justify-content: space-around;
  padding-left:124px;
  padding-right: 124px;
  padding-bottom: 50px;
  }
.users-tittle{
 padding-top:50px;
   font-weight:bold;
   font-size:38px;
   color:#252432;
   text-align: center; 
   margin-bottom:50px; 
}
.user-tittle{
  width:162px;
   height:97px; 
   font-weight:bold;
   font-size:85px;
   color:rgba(78, 71, 255, 1);
  
}
.user-sub-tittle{
  width:170px;
   height:24px; 
   font-size:20px;
   color:rgba(0, 0, 0, 0.5);
  
}
/* Users Feedback Section */

.users-feedback{
  margin:116px auto;
  max-width:1140px;
  height: 353px;
 
}
.section-tittle{
  width:1140px;
   height:49px;
   font-weight: bold; 
   font-size:42px;
   height:24px; 
   color:rgba(37, 36, 50, 1);
   text-align: center;
   margin-bottom:80px;
}
.star-icon{
 margin-right: 6px;
 margin-bottom:16px;
   
}
.user-review{
  width:310px;
   height:160px;
   padding:24px;
   border-radius:14px;
  background-color: white;
   border:1px solid rgba(179, 179, 179, 1);

}
.user-review-tittle{
  width:318.67px;
   height:44px;
   color: black;
  
  
}
.user-review-sub-tittle{
  width:220px;
   height:29px;
   color: black;
   font-size:12px;
   margin-top: -10px;
   margin-bottom:24px;
}
.reviewer{
  width:40px;
   height:40px;
   border-radius:50%;
}
.reviewer-name{
  width: 266.7px;
  height: 22px;
  color: rgba(117, 117, 117, 1);
  font-size:20px;
}
.review-date{
  width: 266.7px;
  height: 16px;
  color:rgba(179, 179, 179, 1);
  font-size:16px;
}
.reviewer-information{
  display: flex;
  align-items: center;
  gap: 8px;
}
.users-review-container{
display: flex;
justify-content: space-around;
align-items: center;
}
/* Touch Section Starts Here */
.touch{
  margin:0 auto;
  max-width:1140px;
  height:600px;
  padding-top:20px;
  padding-bottom: 71px;
  display: flex;
  gap:100px;
  align-items:center;
    
}
.touch-column{
  width:50%
}


.touch-tittle{
  width:528px;
  height: 232px;
  font-weight: bold;
  font-size: 97px;
  color:rgba(0, 0, 0, 1);
}
.touch-form{
  width:465px;
  height:400px;
  
  

}
form label{
  display: block;
  height: 22px;
  width:100%
  font-weight Medium;
  font-size: 18px;
  color: #000000;
}
  

form input[type=email], input[type=text] {
  padding: 12px 20px;
background-color: #FFFFFF;
  display: block;
  height: 35px;
  width:100%;
  margin-bottom:2px;
  border-radius: 10px;
  font-size:20px;
  
}
form textarea{
  background-color: #FFFFFF;
  border:none
  display: block;
  font-size:28px;
  width: 95%;
padding: 20px 32px;
border-radius: 10px;
margin-bottom:8px;
}
.form-button{
  background-color:#4E47FF;
  color:#FFFFFF;
font-weight:bold;
  display: block;
  font-size:20px;
  width:506px;
  height: 65px;
padding:12px 20px;
border-radius: 10px;
cursor: pointer;
border:none
}
.form-button:hover{
    background-color:rgb(240, 240, 3);
    color: black;   
}
.form-button:active{
    opacity: 0.6;
}
/* Footer Section Starts Here */
.end-section{
  max-width: 1440px;
  height: 428px;
  background-color: white;

margin:0 auto;
text-align: center;
position: relative;



}
.footer-tittle{
  width: 291px;
  height: 121px;
  font-weight:black;
  font-size: 100px;
  color: rgba(78, 71, 255, 1);
  margin:0 auto;
  
}
  
.footer-description{
 width:518px;
  height:48px;
  font-size:18px;
  color:rgba(137, 135, 161, 1);
  text-align: center;
  margin-top:10px;

}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
footer ul li{
    list-style: none;
    margin-right: 50px;
}
footer ul li a{
    text-decoration: none;
    color:rgba(137, 135, 161, 1) ;
}
.footer-section{
width:531px;
height: 221px;
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.footer-link{
  color:rgba(137, 135, 161, 1)  ;
}
