*{
    margin:0;
    padding:0;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* This is header section */
header{
  max-width: 1440px;
  height:698px;
  background-image: url('../images/Assets/Hero-bg.png');
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}
/* Nav Style */
nav{
max-width: 1140px;
height: 151px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.nav-tittle{
   max-width: 99px; 
   height: 51px;
   font-weight:Black;
   font-size: 34px;
   color: rgba(78, 71, 255, 1);
}
.nav-button{
   width:132px;
   height:48px; 
   font-weight:bold;
   font-size: 20px;
   color:#FFFFFF;
   background-color:#4E47FF;
   border-radius: 6px;
   border: none;
   cursor: pointer;  
}
.nav-button:hover{
    background-color:rgb(240, 240, 3);
    color: black;   
}
.nav-button:active{
    opacity: 0.6;
}
/* Banner Styles */
.banner-section{
  max-width:905px;
  height: 237px;
  padding: 152px 267.5px 152px 267.5px;
 text-align: center; 
 justify-content: center;
}
.banner-tittle{
  max-width: 905px;
  height: 152px;
  font-weight: bold;
  font-size:65px;
  color: #252432;
  margin-bottom: 25px;
  text-align: center;
}
.banner-button{
   width:174px;
   height:48px; 
   font-weight:bold;
   font-size: 16px;
   color:#FFFFFF;
   background-color:#4E47FF;
   border-radius: 6px;
   border: none;
   cursor: pointer;
   margin-top: 8px;
   text-align: center;

   
}
  .banner-button:hover{
    background-color:rgb(240, 240, 3);
    color: black; }  
.banner-button:active{
    opacity: 0.6;
}
/* This is main section */
/* Action section style */
.action{
  margin-top: 104px;
  margin-bottom: 128px;
   
}
.action-style{
  max-width: 1140px;
  height: 346px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.action-tittle{
   width:517px;
   height:49px; 
   font-weight:bold;
   font-size:42px;
   color:#252432;
   margin-bottom: 24px;
}
.action-sub-tittle{
  width:517px;
   height:60px; 
   font-size:24px;
   color:#252432;
   margin-bottom: 18px;
}
.action-button{
  width:229px;
   height:48px; 
   font-weight:bold;
   font-size: 16px;
   color:#FFFFFF;
   background-color:#4E47FF;
   border-radius: 10px;
   border: none;
   cursor: pointer; 
   padding:12px 36px; 
}
.action-button:hover{
    background-color:rgb(240, 240, 3);
    color: black;   
}
.action-button:active{
    opacity: 0.6;
}
.action-style img{
  width:403px;
  height:328px;
  border-radius: 48px;
}
/* Productive Users Style */
.productive-users{
  max-width: 1140px;
  height: 306px;
  margin:0 auto;
  background-color:rgba(78, 71, 255, 0.1) ;
  border-radius: 24px;
  
}


.users-container{
  display: flex;
  justify-content: space-around;
  padding-left:124px;
  padding-right: 124px;
  padding-bottom: 50px;
  }
.users-tittle{
 padding-top:50px;
   font-weight:bold;
   font-size:38px;
   color:#252432;
   text-align: center; 
   margin-bottom:50px; 
}
.user-tittle{
  width:162px;
   height:97px; 
   font-weight:bold;
   font-size:85px;
   color:rgba(78, 71, 255, 1);
  
}
.user-sub-tittle{
  width:170px;
   height:24px; 
   font-size:20px;
   color:rgba(0, 0, 0, 0.5);
  
}
/* Users Feedback Section */

.users-feedback{
  margin:126px auto;
  max-width:1140px;
  height: 353px;
 
}
.section-tittle{
  width:1140px;
   height:49px;
   font-weight: bold; 
   font-size:42px;
   height:24px; 
   color:rgba(37, 36, 50, 1);
   text-align: center;
   margin-bottom:80px;
}
.star-icon{
 margin-right: 6px;
 margin-bottom:16px;
   
}
.user-review{
  width:310px;
   height:160px;
   padding:24px;
   border-radius:14px;
  color: white;
   border:1px solid rgba(179, 179, 179, 1);

}
.user-review-tittle{
  width:318.67px;
   height:44px;
   color: black;
  
  
}
.user-review-sub-tittle{
  width:220px;
   height:29px;
   color: black;
   font-size:12px;
   margin-top: -10px;
   margin-bottom:24px;
}
.reviewer{
  width:40px;
   height:40px;
   border-radius:50%;
}
.reviewer-name{
  width: 266.7px;
  height: 22px;
  color: rgba(117, 117, 117, 1);
  font-size:20px;
}
.review-date{
  width: 266.7px;
  height: 16px;
  color:rgba(179, 179, 179, 1);
  font-size:16px;
}
.reviewer-information{
  display: flex;
  align-items: center;
  gap: 8px;
}
.users-review-container{
display: flex;
justify-content: space-around;
align-items: center;
}

